*{
  margin: 0px;
}

.App{
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: palevioletred;
 margin-bottom: 30px;
}

h2{
  margin-top: 50px;
  color: palevioletred;
  display: flex;
  justify-content: center;
}

.container{
  max-width: 500px;
   border: 2px solid white;
   padding: 10px;
   margin-top: 30px;
   
}

h3{
  color: yellow;
}
button{
  background-color: palevioletred;
 padding: auto;
  width: 80px;
  outline: none;
  border: 2px solid white ;
  height: 35px;
}

input{
  height: 30px;
  width: 200px;
  border: 2px solid rgb(228, 137, 214);
 
}

.subLine{
  display: flex;
  justify-content: center;
}